@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Nombre:</strong>   <H5 >Juan José Gomez Granada</H5>
<address>
    <strong>Celular:</strong>   <H5>3052230640</H5>
</address>
<address>
    <strong>Correo:</strong>   <H5 href="mailto:juanjosegomez1908@gmail.com">JuanJoseGomez1908@gmail.com</H5><br />
</address>